/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}

/* Responsive Behavior */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #014488cb;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 180px;
        padding: 10px;
        border-radius: 8px;
        z-index: 1;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
